*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
    background-image: url("src/assets/background-platform.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .headerStyle{
    background-color: rgba(49, 43, 43, 0.5);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    margin-top: 15px;
  }
  
  .mainContent {
    width: 100%;
    max-width: 1424px;
    padding: 20px;
    height: 1020px;
  }

  .statsRow {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 50%;
  }
  
  .journalSection,
  .groupsSection {
    width: 48%;
    background-color: rgba(49, 43, 43, 0.5);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .journalSection{
    margin-left: 15px;
  }
  .groupsSection{
    position: relative;
    left: 705px;
    top: -792px;
    
  }
  .groupsTitle {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  
  
  @media (max-width: 991px) {
    .mainContent {
      padding: 10px;
    }
  
    .statsRow {
      flex-direction: column;
    }
  }